@import 'mixins';
@import 'normalize';
@import 'test';

* {
	box-sizing: border-box;
}
body {
	background-color: #faf5e8;
	font-size: 20px;
	@include flex-centered;
	height: 100vh;
	border-top: 12px solid #d95557;
	border-bottom: 15px solid #f6b464;
}
