{
	"extends": [
		"wesbos"
	],
	"rules": {
		"no-console": 2,
		"no-undef": 1,
		"camelcase": 0,
		"indent": [
			"error",
			"tab"
		],
		"prettier/prettier": [
			"error",
			{
				"trailingComma": "es5",
				"singleQuote": true,
				"printWidth": 120,
				"tabWidth": 2,
				"useTabs": true
			}
		]
	}
}