{
	"extends": [ "wesbos" ],
	"rules": {
		"no-console": 1,
		"no-undef": 1,
		"camelcase": 0,
		"one-var": "off",
		"indent": [ "error", "tab" ],
		"prettier/prettier": [
			"error",
			{
				"trailingComma": "es5",
				"singleQuote": true,
				"useTabs": true
			}
		]
	}
}
